.todo-list {
  &__task-container {
    display: flex;
    flex: {
      direction: row;
    }
    align-items: center;

    &__unchecked {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      background: rgb(241, 58, 58);
      flex: {
        direction: row;
      }

      border: 0px solid black {
        radius: 20%;
      }

      margin: {
        bottom: 10px;
      }

      & button {
        margin: {
          left: 10px;
        }
      }
  
      & img:hover {
        cursor: pointer;
      }
    }
  
    &__checked {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      background: rgb(21, 185, 21);
      flex: {
        direction: row;
      }

      border: 0px solid black {
        radius: 20%;
      }

      margin: {
        bottom: 10px;
      }
  
      & img:hover {
        cursor: pointer;
      }
    }
  }

  &__text-task {
    color: white;
    font: {
      size: 18px;
    }
    margin: {
      left: 8px;
    }
  }

  &__done-text {
    color: rgba(255, 255, 255, 1);
    text: {
      decoration: line-through;
    }
  }

  &-button {
    display: flex;
    border: 0px;
    height: 24px;
    width: 24px;
    background: none;
    flex: {
      direction: row;
    }
  }

  &__hide {
    display: none;
  }
}